/02 - Registro Temperaturas/DIS2/nbproject/private/
/RegistroTemperaturas/nbproject/private/
/RegistroTemperaturas/build/
/RegistroTemperaturas/dist/
/PracticaDIS/nbproject/private/
/PracticaDIS/build/
/PracticaDIS/dist/
/004-CasaDomotica/nbproject/private/
/004-CasaDomotica/build/
PracticaDIS/docs/Pasteleria.asta.lock
/PracticaDIS/app/NetBeansProject/nbproject/private/